# **üßºü´ßüßπ Data Cleaning**

<img src="../assets/banner_data_cleaning.png" style="width:95%">

- **Data Cleaning** is a critical step in preparing your dataset for meaningful analysis and modeling.  

- A well-cleaned dataset reduces bias, improves model performance, and prevents misleading conclusions.  

- This notebook uses **manual coding** to ensure each feature is properly reviewed and cleaned.  

- Make sure to update the `data_file_path`, `identifier_column` and `target_column` entries in your `config.yaml` file before running the notebook.

---
---
**üì¶ Import General Libraries**

In [ ]:
import pandas as pd

---
**‚öôÔ∏è Configure Imports**

In [2]:
import sys
from pathlib import Path

# Add project root to sys.path
project_root = Path().resolve().parent  # if running from folder with parent directory as project root
sys.path.append(str(project_root))

---
**üîß Configure Notebook**

In [3]:
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = 'all'  # Show all outputs in a cell

---
**üîß Import Pipeline Classes**

In [4]:
from src.data_explorer import DataExplorer
from src.data_cleaner import DataCleaner

explorer = DataExplorer()
cleaner = DataCleaner()

---
**üöÄ Load Config from `config.yaml`**

In [5]:
import yaml

config_path = "../config.yaml"
with open(config_path, "r", encoding="utf-8") as file:
    config = yaml.safe_load(file)

DATA_FILE_PATH = config["data_file_path"]
IDENTIFIER_COLUMN = config["identifier_column"]
TARGET_COLUMN = config["target_column"]
RANDOM_STATE = config["random_state"]
TEST_SIZE = config["test_size"]

---
**üì• Load Data into Pandas DataFrame**

In [6]:
RELATIVE_FILE_PATH = Path("../", DATA_FILE_PATH)

df = pd.read_csv(RELATIVE_FILE_PATH)
df.head()

,ID,URL,timedelta,weekday,shares,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,...,num_keywords,kw_min_min,kw_max_min,kw_avg_min,kw_min_max,kw_max_max,kw_avg_max,kw_min_avg,kw_max_avg,kw_avg_avg
0,0,http://mashable.com/2013/01/07/amazon-instant-...,731.0,monday,593,12.0,219.0,0.663594,1.0,0.815385,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,http://mashable.com/2013/01/07/ap-samsung-spon...,731.0,monday,711,9.0,255.0,0.604743,1.0,0.791946,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,http://mashable.com/2013/01/07/apple-40-billio...,731.0,monday,1500,9.0,211.0,0.575130,1.0,0.663866,...,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,http://mashable.com/2013/01/07/astronaut-notre...,731.0,monday,1200,9.0,531.0,0.503788,1.0,0.665635,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,http://mashable.com/2013/01/07/att-u-verse-apps/,731.0,monday,505,13.0,1072.0,0.415646,1.0,0.540890,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

---
---
# **üßº 1. Apply Snake Case**

- Using `snake_case` aligns with PEP 8, Python‚Äôs official style guide for code readability and consistency.

- It ensures column names are consistent and easy to read, avoiding spaces or special characters that can break code.

- Standardized naming makes data manipulation, merging, and referencing columns in scripts much smoother.

- Following PEP 8 conventions improves code maintainability, readability, and reduces potential errors in data pipelines.

In [7]:
df_cleaned = cleaner.clean_all(df=df, mode="snake_case_columns")
df_cleaned.columns

   ‚îî‚îÄ‚îÄ Converting column names to snake_case...
   ‚îî‚îÄ‚îÄ Cleaning mode='snake_case_columns' completed in 0.00 seconds

Index(['id', 'url', 'timedelta', 'weekday', 'shares', 'n_tokens_title',
       'n_tokens_content', 'n_unique_tokens', 'n_non_stop_words',
       'n_non_stop_unique_tokens', 'num_hrefs', 'num_self_hrefs', 'num_imgs',
       'num_videos', 'n_comments', 'average_token_length', 'data_channel',
       'self_reference_min_shares', 'self_reference_max_shares',
       'self_reference_avg_shares', 'num_keywords', 'kw_min_min', 'kw_max_min',
       'kw_avg_min', 'kw_min_max', 'kw_max_max', 'kw_avg_max', 'kw_min_avg',
       'kw_max_avg', 'kw_avg_avg'],
      dtype='object')

**‚îî‚îÄ üí° Observations / Insights ‚îÄ‚îÄ**

- Column names successfully amended

---
---
# **üßº 2. Rearrange Columns**

- Move the **target column** to the front for easier reference.  

- Keeps the dataset organized and makes analysis or model training steps more intuitive.

In [8]:
df_cleaned = cleaner.clean_all(df=df_cleaned, mode="rearrange_columns")
df_cleaned.head(1)

   ‚îî‚îÄ‚îÄ Moving column 'shares' before 'id'...
   ‚îî‚îÄ‚îÄ Cleaning mode='rearrange_columns' completed in 0.01 seconds

,shares,id,url,timedelta,weekday,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,...,num_keywords,kw_min_min,kw_max_min,kw_avg_min,kw_min_max,kw_max_max,kw_avg_max,kw_min_avg,kw_max_avg,kw_avg_avg
0,593,0,http://mashable.com/2013/01/07/amazon-instant-...,731.0,monday,12.0,219.0,0.663594,1.0,0.815385,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

**‚îî‚îÄ üí° Observations / Insights ‚îÄ‚îÄ**

- Columns successfully rearranged

---
---
# **üßº 3. Drop Irrelevant Features**

- Remove columns that do not contribute to the analysis (e.g., IDs).  

- Drop **post-hoc features** that won‚Äôt be available at prediction time to avoid **data leakage**.  

- Example: When predicting `resale_price`, exclude `resale_price_USD` since it‚Äôs just a transformed version of the target.

In [9]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35680 entries, 0 to 35679
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   shares                     35680 non-null  int64
 1   id                         35680 non-null  int64
 2   url                        35680 non-null  object
 3   timedelta                  35680 non-null  float64
 4   weekday                    35680 non-null  object
 5   n_tokens_title             35680 non-null  float64
 6   n_tokens_content           35680 non-null  float64
 7   n_unique_tokens            35680 non-null  float64
 8   n_non_stop_words           35680 non-null  float64
 9   n_non_stop_unique_tokens   35680 non-null  float64
 10  num_hrefs                  34959 non-null  float64
 11  num_self_hrefs             34959 non-null  float64
 12  num_imgs                   34261 non-null  float64
 13  num_videos                 18925 non-null  float64
 14  n_comments                 35680 non-null  float64
 15  average_token_length       35680 non-null  float64
 16  data_channel               30218 non-null  object
 17  self_reference_min_shares  34959 non-null  float64
 18  self_reference_max_shares  34959 non-null  float64
 19  self_reference_avg_shares  34959 non-null  float64
 20  num_keywords               35680 non-null  float64
 21  kw_min_min                 35680 non-null  float64
 22  kw_max_min                 35680 non-null  float64
 23  kw_avg_min                 35680 non-null  float64
 24  kw_min_max                 35680 non-null  float64
 25  kw_max_max                 35680 non-null  float64
 26  kw_avg_max                 35680 non-null  float64
 27  kw_min_avg                 35680 non-null  float64
 28  kw_max_avg                 35680 non-null  float64
 29  kw_avg_avg                 35680 non-null  float64
dtypes: float64(25), int64(2), object(3)
memory usage: 8.2+ MB

In [11]:
df_cleaned = cleaner.clean_all(df=df_cleaned, mode="irrelevant")
df_cleaned.info()

   ‚îî‚îÄ‚îÄ None of the specified columns exist in DataFrame. Nothing dropped.
   ‚îî‚îÄ‚îÄ Cleaning mode='irrelevant' completed in 0.00 seconds
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35680 entries, 0 to 35679
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   shares                     35680 non-null  int64
 1   timedelta                  35680 non-null  float64
 2   weekday                    35680 non-null  object
 3   n_tokens_title             35680 non-null  float64
 4   n_tokens_content           35680 non-null  float64
 5   n_unique_tokens            35680 non-null  float64
 6   data_channel               30218 non-null  object
 7   self_reference_min_shares  34959 non-null  float64
 8   self_reference_max_shares  34959 non-null  float64
 9   self_reference_avg_shares  34959 non-null  float64
dtypes: float64(7), int64(1), object(2)
memory usage: 2.7+ MB

**‚îî‚îÄ üí° Observations / Insights ‚îÄ‚îÄ**

- Irrelevant features successfully dropped

---
---
# **üßº 4. Explore Target Variable**

- Examine the **distribution** of the target variable.  
  - For regression: check spread, skewness, and outliers.  
  - For classification: review class balance and frequency counts.  

- Detect potential **issues** (e.g., extreme outliers in regression, class imbalance in classification).  

- Consider whether **transformations** (e.g., log-scaling for regression, class grouping for classification) are needed to improve analysis or model performance.

In [ ]:
explorer.perform_univariate_analysis(df=df_cleaned, feature=TARGET_COLUMN, show_plots=True)

**‚îî‚îÄ üí° Observations / Insights ‚îÄ‚îÄ**

- Irrelevant features successfully dropped

---
## **‚îî‚îÄ Remove Outliers**

- Using IQR method due to right-skewness of distribution

In [ ]:
Q1, Q3 = df_cleaned["shares"].quantile([0.25, 0.75])
IQR = Q3 - Q1

lower_bound = Q1 - (1.5 * IQR)
upper_bound = Q3 + (1.5 * IQR)

lower_bound, upper_bound

In [ ]:
df_lower_outliers = df[df['shares'] < lower_bound]
df_upper_outliers = df[df['shares'] > upper_bound]

df_lower_outliers
df_upper_outliers.sample(5)

In [ ]:
df_non_outliers = df[(df['shares'] > lower_bound) & (df['shares'] < upper_bound)]
explorer.perform_univariate_analysis(df=df_non_outliers, feature='shares', show_plots=True)

---
---
# **üßº 5. Explore `weekday`**

- `Comment`

- `Comment`

- `Comment`

---
---
# **üßº X. Explore `[COLUMN NAME]`**

- `Comment`

- `Comment`

- `Comment`

In [ ]:
# Insert code

**‚îî‚îÄ üí° Observations / Insights ‚îÄ‚îÄ**

- `Observation`

---
---
---